#grid-container{
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 960px;
    height: 960px;
    border: 2px solid red;
}

.grid-item{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid plum;
}

#resize-button{
    margin: 20px;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}